@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components.Authorization;

<link rel="stylesheet" href="./MainLayout.css" />
<div class="page" id="page">
    <div class="sidebar">
        <NavMenu />
    </div>

   <div class="main">

        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name
                    <a href="/Logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/Login" class="ml-md-auto">Login</a>
                </NotAuthorized>
            </AuthorizeView>


            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    @Body
                     <a href="/Login" class="ml-md-auto">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
