<header>
    <div class="head-row container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logocol">
                    <img src="assets/images/logo.jpg" alt="">
                    <a class="navbar-toggler d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div id="navbarNav" class="col-md-9 d-none d-md-block infocol">
                    <div class="row d-none d-sm-block float-end info-row">
                        <ul>
                            <li><i class="far fa-envelope"></i> support@smarteyeapps.com</li>
                            <li><i class="fas fa-mobile-alt"></i> +91 9159669599</li>
                        </ul>
                    </div>
                    <div class="nav-row ">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
