@page "/discountCreate"
@using DentistBooking.ViewModels.System.Discounts
@using DentistBookingBlazor.FE.Services.Discounts
@inject IDiscountService discountService;
@inject NavigationManager NavigationManager;

<h3>Discount Create</h3>

<EditForm Model="discount" OnValidSubmit="SubmitTask">
    <div class="form-group">

        <label for="Name">Title</label>
        <InputText class="form-control" @bind-Value="discount.Title"></InputText>
        <small id="nameHelp" class="form-text text-muted">Please enter discount title here please.</small>

        <label for="Name">Start Date</label>
        <InputDate class="form-control" asp-for="@discount.StartDate" @bind-Value="discount.StartDate"></InputDate>
        <small id="nameHelp" class="form-text text-muted">Please enter clinic start date here please.</small>

        <label for="Name">End Date</label>
        <InputDate class="form-control" asp-for="@discount.EndDate" @bind-Value="discount.EndDate"></InputDate>
        <small id="nameHelp" class="form-text text-muted">Please enter discount end date here please.</small>

        <label for="Name">Description</label>
        <InputText class="form-control" @bind-Value="discount.Description"></InputText>
        <small id="nameHelp" class="form-text text-muted">Please enter discount description here please.</small>

        <label for="Name">Amount</label>
        <InputNumber class="form-control" asp-for="@discount.Amount" @bind-Value="discount.Amount"></InputNumber>
        <small id="nameHelp" class="form-text text-muted">Please enter discount amount here please.</small>

        <label for="Name">Percent</label>
        <InputNumber class="form-control" asp-for="@discount.Percent" @bind-Value="discount.Percent"></InputNumber>
        <small id="nameHelp" class="form-text text-muted">Please enter discount percent here please.</small>


    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code {
    private DiscountRequest discount = new DiscountRequest();

    private async Task SubmitTask(EditContext context)
    {
        var rs = await discountService.CreateDiscount(discount);
        if (rs)
        {
            NavigationManager.NavigateTo("/discount");
        }
    }
}