@page "/serviceUpdate/{ServiceId}"
@using DentistBooking.ViewModels.Pagination
@using DentistBooking.ViewModels.System.Discounts
@using DentistBooking.ViewModels.System.Services
@using DentistBookingBlazor.FE.Services.Services
@using DentistBookingBlazor.FE.Services.Discounts
@inject IServiceService serviceService;
@inject IDiscountService discountService;
@inject NavigationManager NavigationManager;

@if (service == null)
{
    <div>Loading...</div>
}
else
{
    <h3>Service Edit: @service.Name</h3>



    <EditForm Model="service" OnValidSubmit="SubmitTask">
        <div class="form-group">

            <label for="Name">Name</label>
            <InputText class="form-control" @bind-Value="service.Name"></InputText>
            <small id="nameHelp" class="form-text text-muted">Please enter service name here please.</small>

            <label for="Procedure">Procedure</label>
            <InputText class="form-control" @bind-Value="service.Procedure"></InputText>
            <small id="procedureHelp" class="form-text text-muted">Please enter service procedure here please.</small>

            <label for="Price">Price</label>
            <InputNumber class="form-control" @bind-Value="service.Price"></InputNumber>
            <small id="priceHelp" class="form-text text-muted">Please enter service price here please.</small>

            <div class="form-group">
                <label for="Discount">Discount</label>
                <InputSelect class="form-control" @bind-Value="service.DiscountId">
                    <option>Select a discount</option>
                    @foreach (var item in discounts)
                    {
                    <option value="@item.Id">@item.Title</option>
                    }
            </InputSelect>
            <small id="discountHelp" class="form-text text-muted">Choose a discount which you want.</small>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>
}

@code {
    [Parameter]
    public string ServiceId { get; set; }

    private ServiceRequest service;

    private ListDiscountResponse listDiscountResponse;

    public List<DiscountDTO> discounts = new();
    PaginationFilter paginationFilter = new();

    protected async override Task OnInitializedAsync()
    {
        var serviceDto = await serviceService.GetService(Int32.Parse(ServiceId));
        service = new ServiceRequest();
        service.Id = Int32.Parse(ServiceId);
        service.Name = serviceDto.ServiceName;
        service.Procedure = serviceDto.Procedure;
        service.Price = serviceDto.Price;
        service.DiscountId = serviceDto.DiscountId;
        await GetDiscounts();
    }

    private async Task GetDiscounts()
        {
            listDiscountResponse = await discountService.GetDiscountList(paginationFilter);
            discounts = listDiscountResponse.Content as List<DiscountDTO>;
        }

    private async void SubmitTask(EditContext context)
    {
        var rs = await serviceService.UpdateService(service);
        if (rs)
        {
            NavigationManager.NavigateTo("/service");
        }
    }
}
